
/* Header configuration */

#header {
    width: 800px;
    margin: auto;
}

#space {
    height: 44px;
    background: url('/images/header_bottom.png');
}

#twitter{
    margin-top: 20px;
    float: left;
}

#informations {
    float: left;
    margin: 4px 0 0 10px;
    width: 400px;
    height: 111px;
    text-align: center;
    position: relative;
}

#loader {
    padding-top:45px;
}

#last_tweet ul {
    line-height: 1.8;
}

#last_tweet .twitter_time {
    font-style:italic;
}

#logo {
    width: 284px;
    height: 75px;
    float: right;
    margin: 20px 10px 0 0;
    position: relative;
}

/* Footer */

#footer {
    margin-top: 15px;
    background: none repeat scroll 0 0 #EEEEEE;
    left: 0;
    position: absolute;
    width: 100%;
}

#footer > div {
    color: #777777;
    display: table;
    margin: 0 auto;
    padding: 20px 0 40px 0;

}

#footer .cell {
    display: table-cell;
    width: 200px;
    padding: 0 20px;
}

/* Content */

#content {
    float: right;
    width: 550px;
}

#content ul {
    margin: 10px 0 10px 40px;
}

#content li{
    list-style-type: none;
    background-image: url("/images/puce.png");
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 22px;
    display : list-item;
    list-style-position:inside;
    padding-bottom: 2px;
}

/* Side bar */

#sidebar {
    float: left;
    width: 230px;
}

#sidebar ul {
    list-style: none;
    line-height: normal;
}

#sidebar li {
    margin-bottom: 30px;
    padding: 0 0 10px 0px;
}

#sidebar li ul {
    margin: 0px 14px;
}

#sidebar li li {
    margin: 0;
    padding: 12px 0px;
    border-bottom: 1px solid #E9E8DD;
}

#sidebar li li a {
    padding-left: 20px;
}

.author {
    margin-top: 5px;
}

#facebook {
    text-align: center;
}

/* Others */

#page {
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
}

.ok {
    text-align: center;
    color: #618C04;
    font-weight: bold;
    margin: 10px 0;
}