/* Menu length */

#menu ul {
    width: 700px;
}

/* Beta page */

#beta {
    text-align: center;
    margin: 20px 0;
}

#beta .button {
    margin-bottom: 10px;
}

/* Posts */

#introduction {
    margin: 15px 0;
}

.article .content {
    margin-bottom: 10px;
}

.article .share {
    float: left;
    width: 400px;
}

.addthis_counter {
    margin-right: 10px;
}

/* Donate page */

#donate {
    margin-top: 10px;
}

/* Others */

#ads {
    text-align: center;
    margin-bottom: 25px;
}

#switch_format {
    text-align: center;
    margin-bottom: 15px;
}
