
#header {
    text-align: center;
    margin: 15px 0;
}

#logo {
    width: 284px;
    height: 75px;
    position: relative;
    margin: 0 auto;
}

#content {
    padding: 5px;
}

#switch {
    text-align: center;
    margin-bottom: 10px;
}

/* Article */

.article {
    -webkit-border-radius: .6em; 
    -moz-border-radius: .6em;
    border-radius: .6em;
    background-color: #ddd;
    margin: 10px;
    padding: 5px 10px;
}

.article .comments {
    text-align: right;
}